<%# news banner %>
<div class="banner">
  <div class="content">
      <div class="header_contacts fadeInUp wow" style="visibility: visible; animation-name: fadeInUp;">
        <div class="date" id="clockbox">Wednesday, March 10 10:51 AM</div>
        <div class="phone"> <b> ₿ </b>
Fixed BTC Rate : <span style="color: #4981c2;" class="bitCoin">$54992.19</span></div>
        <div class="email"><span>info@cryptosbitrade.com</span></div>
      </div>
      <div class="header_social fadeInUp wow" style="visibility: visible; animation-name: fadeInUp;"><span><a target="_blank" href="#"><img src="styles/images/sendmail.png" alt=""></a></span></div>
      <div class="headerproof fadeInUp wow" style="visibility: visible; animation-name: fadeInUp;"><a href="paid.html?a=paidout">payment<br>
        proofs</a></div>
  </div>

<div class="content">
    <div class="bannerinside">
            <div class="bannertop insideheaders">
        <div class="bannerleft ">
          <h1 class="bounceInUp wow" style="visibility: visible; animation-name: bounceInUp;">News &amp; <span>Events</span></h1>
          </div>
      </div>
                      </div>
  </div>
  </div>
  <%# body of the news %>
<div class="inside_wrap news">
  <div class="inside_inner">
    <table cellspacing="1" cellpadding="2" border="0" width="100%">            <tbody><tr>
        <td class="news_block"><a name="1"></a>
          <div class="news_title">cryptosbitrade LAUNCHED !</div>
          <div class="news_infos">Welcome to cryptosbitrade<br>
<br>
Join cryptosbitrade today and make your all dreams come true.  cryptosbitrade  provides its expert service in crypto trading that any investor can take advantage of to gain generous profit over a short period. With cryptosbitrade you have the security against your capital investment and guarantee of profits on promised duration. Along with cryptosbitrade partner program, you can start earning passive income without any delay.  cryptosbitrade support team will always guide you in any case for that you need any assistance.  <br>
<br>
Thank You<br>
cryptosbitrade</div>
          <div class="news_time"></div>
          </td>
      </tr>
          </tbody></table>
     </div>
</div>