<%# main banner %>
<div class="banner">
  <div class="content">
      <div class="header_contacts fadeInUp wow" style="visibility: visible; animation-name: fadeInUp;">
        <div class="date" id="clockbox">Wednesday, March 10 9:30 AM</div>
        <div class="phone"> <b> ₿ </b>
Fixed BTC Rate : <span style="color: #4981c2;" class="bitCoin">$54764.26</span></div>
        <div class="email"><span>info@cryptosbitrade.com</span></div>
      </div>
      <div class="header_social fadeInUp wow" style="visibility: visible; animation-name: fadeInUp;"><span><a target="_blank" href="#"><img src="styles/images/sendmail.png" alt=""></a></span></div>
      <div class="headerproof fadeInUp wow" style="visibility: visible; animation-name: fadeInUp;"><a href="paid.html?a=paidout">payment<br>
        proofs</a></div>
  </div>


<div class="content">
    <div class="bannerinside">
            <div class="bannertop insideheaders">
        <div class="bannerleft ">
          <h1 class="bounceInUp wow" style="visibility: visible; animation-name: bounceInUp;"> Investment <span>Plans</span></h1>
          </div>
      </div>
                      </div>
  </div>
  </div>

  <div class="plan_wrap">
  <div class="content">
    <h2 class="zoomInUp wow" style="visibility: visible; animation-name: zoomInUp;">investment <span>plans</span></h2>
    <div class="planscroller">
      <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
        <!-- Left and right controls --> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span><img src="styles/images/ctn-bot-sil5.png"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span><img src="styles/images/ctn-bot-sil6.png"></span></a> 
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="ctn-Referral">
              <div class="ctn-referral-part referral-part1">
                <h3>Starter</h3>
                <div class="info">
                  <h4>120%</h4>
                  <ul>
                    <li>After 1 day</li>
                    <li>Minimum Deposit:<br>
                      $500</li>
                    <li>Maximum Deposit:<br>
                      unlimited</li>
                  </ul>
                </div>
                <a href="login-1.html?a=deposit">Deposit now</a> </div>
              <div class="ctn-referral-part referral-part2">
                <h3>Advanced</h3>
                <div class="info">
                  <h4>140%</h4>
                  <ul>
                    <li>After 2 days</li>
                    <li>Minimum Deposit:<br>
                      $1000</li>
                    <li>Maximum Deposit:<br>
                      unlimited</li>
                  </ul>
                </div>
                <a href="login-1.html?a=deposit">Deposit now</a> </div>
              <div class="ctn-referral-part referral-part3">
                <h3>Business</h3>
                <div class="info">
                  <h4>200%</h4>
                  <ul>
                    <li>After 3 days</li>
                    <li>Minimum Deposit:<br>
                      $1500</li>
                    <li>Maximum Deposit:<br>
                      unlimited</li>
                  </ul>
                </div>
                <a href="login-1.html?a=deposit">Deposit now</a> </div>
              <div class="ctn-referral-part referral-part4">
                <h3>Premium</h3>
                <div class="info">
                  <h4>250%</h4>
                  <ul>
                    <li>After 5 days</li>
                    <li>Minimum Deposit:<br>
                      $2500</li>
                    <li>Maximum Deposit:<br>
                      unlimited</li>
                  </ul>
                </div>
                <a href="login-1.html?a=deposit">Deposit now</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="calculatorwrap">
      <div class="calculator_left zoomIn wow" style="visibility: visible; animation-name: zoomIn;">
        <h3>calculate profit</h3>
        <span class="icon"><img src="styles/images/calculateicon.png" alt=""></span> </div>
      <div class="calculator_right">
        <div class="calcbox fadeInRight wow" style="visibility: visible; animation-name: fadeInRight;">
          <label>select plan:</label>
          <span class="results">
          <select id="Ultra">
            <option value="0">120% after 1 day</option>
            <option value="1">140% after 2 days</option>
            <option value="2">200% after 3 days</option>
            <option value="3">250% after 5 days</option>
          </select>
          </span></div>
        <div class="calcbox fadeInRight wow" style="visibility: visible; animation-name: fadeInRight;">
          <label>enter amount ($)</label>
          <span class="results">
          <input type="text" name="money" id="money" value="20">
          </span></div>
        <div class="calcbox fadeInRight wow" style="visibility: visible; animation-name: fadeInRight;">
          <label>total returned</label>
          <span class="results">$ <span id="profitDaily">Error!</span></span></div>
      </div>
    </div>
  </div>
</div>

<%# affiliate wrap %>
<div class="affiliate_wrap">
  <div class="content">
    <div class="affiliate_left zoomIn wow" style="visibility: visible;"><img src="styles/images/affiliationthumb.png" alt="an img"></div>
    <div class="affiliate_right">
      <div class="affi_top">
        <div class="left">
          <h2 class="bounceInUp wow" style="visibility: visible;">affiliate program</h2>
        </div>
        <div class="right bounceInUp wow" style="visibility: visible;">5<span>%</span></div>
      </div>
      <div class="affi_bot">
        <p class="bounceInUp wow" style="visibility: visible;">Concerning participation in our partner program, your own deposit is not required. You earn referral commission
          without investment and is paid directly into your e-currency account instantly. </p>
                    <a href="register.html?a=signup" class="bounceInUp wow" style="visibility: visible;">join us now</a> 
              </div>
  </div>
</div>
<!--Main End-->

